<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>This is app Component !</h3>
      <hr>
      <!-- <app-servers></app-servers> -->
      <div class="app-servers"></div>
      <ol>
        <li>Create two new Components</li>
        <li>Output then beneath eachother in the AppComponent</li>
        <li>Output a warning or success message</li>
        <li> Style the component </li>
      </ol>
      <app-first-compo></app-first-compo>
      <app-second-compo></app-second-compo>
      <app-warning-component></app-warning-component>
      
    </div>
  </div>
</div>

